Dear ${body.getPatientName()},

Here are the details of your upcoming vaccination appointment at '${body.getHospitalName()}'.

Appointment Date: ${body.getAppointmentDate()}
Appointment Time: ${body.getAppointmentTime()}
Doctor: Dr. ${body.getDoctorName()}
Vaccine: ${body.getVaccineName()}

Patient Details:
Name: ${body.getPatientName()}
Age: ${body.getPatientAge()}
Gender: ${body.getPatientGender()}
Phone: ${body.getPatientPhone()}
Email: ${body.getPatientEmail()}

Hospital Details:
Name: ${body.getHospitalName()}
Address: ${body.getHospitalCity()}
Contact: ${body.getHospitalContact()}

Please be on time and remember to bring any one of the following document.
1. Aadhaar card
2. PAN card
3. Driving license

If you have any questions or need to reschedule, feel free to contact us.

Best regards,
${body.getHospitalName()}.