Dear ${body.getPatientName()},

Thank you for your payment!

Payment details:
Amount Paid: ${body.getPaidAmount()}
Payment Method: ${body.getPaymentMethod()}

Details about you:
Name: ${body.getPatientName()}
Gender: ${body.getPatientGender()}
Age: ${body.getPatientAge()}
City: ${body.getPatientCity()}
Phone: ${body.getPatientPhone()}
Email: ${body.getPatientEmail()}

You may proceed for your vaccination appointment.

Best regards,
${body.getHospitalName()}.
