Dear ${body.getPatientName()},

We want to inform you that your vaccination appointment at '${body.getHospitalName()}' has been successfully rescheduled.

Here are the updated details:
New Appointment Date: ${body.getAppointmentDate()}
New Appointment Time: ${body.getAppointmentTime()}
Doctor: Dr. ${body.getDoctorName()}
Vaccine: ${body.getVaccineName()}

Patient Details:
Name: ${body.getPatientName()}
Age: ${body.getPatientAge()}
Gender: ${body.getPatientGender()}
Phone: ${body.getPatientPhone()}
Email: ${body.getPatientEmail()}

Hospital Details:
Name: ${body.getHospitalName()}
Address: ${body.getHospitalCity()}
Contact: ${body.getHospitalContact()}

Please be on time and remember to bring any one of the following document.
1. Aadhaar card
2. PAN card
3. Driving license

If you have any questions or need to reschedule, feel free to contact us.

Best regards,
${body.getHospitalName()}.