table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: auto;
  white-space: nowrap;
}

th {
  background-color: #f2f2f2;
}

.container {
  max-width: 750px;
}

.input-container {
  display: flex;
  justify-content: space-evenly;
}

.welcome-message {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#logout-button {
  background-color: rgb(214, 82, 82);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid rgb(231, 113, 113);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
}

#logout-button:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
}
