body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("/images/bkg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.options-container {
  text-align: center;
  margin-top: 80px;
  padding: 20px;
}

.options-container a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  padding: 20px;
}

.options-container .big-option {
  background-color: #007bff;
  width: 500px; /* Adjust as needed */
  border-radius: 100px;
  margin: 10px auto;
}

.options-container .small-options {
  display: flex;
  justify-content: center;
}

.options-container .small-option {
  background-color: #007bff;
  width: 220px; /* Adjust as needed */
  margin: 20px 10px;
  border-radius: 100px;
}
