#submitInput {
  padding: 8px 20px;
  background-color: green;
  color: white;
  cursor: pointer;
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid black;
  font-size: large;
  margin-top: 15px;
}

.container div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.container div :nth-child(1) {
  font-size: 16px;
  width: 25%;
}

.container div :nth-child(2) {
  box-sizing: border-box;
  /* border: 1px solid black; */
  width: 50%;
  font-size: 15px;
  padding: 6px;
}
